.instagramgrid {
  margin: 12px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.column1 {
  display: flex;
  flex-direction: column;
}

.column2 {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.postitem,
.postitem1 {
  background-color: #e3e5e4;
  padding: 20px;
  border-radius: 4px;
  flex: 1;
  position: relative;
}

.post1title {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 10px;
}

.post1subtitle {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 16px;
  line-height: 1.2rem;
}

.postitem img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.full {
  width: 100%;
  height: 100%;
  background-color: #f2668f;
}

.fullcontent {
  position: relative;
  top: 20px;
  font-size: 20px;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .instagramgrid {
    grid-template-columns: 1fr 1fr;
  }
}
