.gallery {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .gallery h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .gallery p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .imagegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .imagegrid .img0 {
    width: 50%;
    height: 100%;
  }

  .imagegrid .img1 {
    width: 50%;
    height: 50%;
  }

  .imagegrid .column1 {
    grid-row: 1 / span 2;
  }

  .imagegrid .column2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  