.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  min-height: 80vh;
}

.container > h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.innercontainer {
  display: flex;
  flex-direction: column;
  background-color: #fff0f4;
  padding: 10px;
}
.innercontainer h3 {
  font-style: italic;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.col{
  margin-bottom: 20px;
}

.innercontainer > h3 {
  font-size: 20px;
  margin-bottom: 16px;
}

.inputgroup {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.inputfield {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.inputfield > input[type="text"],
.inputfield > input[type="email"] {
  width: 100%;
  padding: 10px;
}
.inputfield > textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 12px;
}

.inputgroup > button[type="submit"] {
  padding: 10px 16px;
  border: none;
  background-color: #f7adc0;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.inputgroup > button[type="submit"]:hover {
  background-color: #f7adf7;
}

/* Styling for social media icons */
.social-media {
  display: flex;
  align-items: center;
}

.social-media img {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

.social-media img:hover {
  opacity: 0.7;
}

.messagelabel {
  width: 100%;
  display: block;
}
.message {
  width: 100%;
  display: block;
}
.sendbutton {
  padding: 10px 16px;
  border: none;
  background-color: #f7adc0;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.sendbutton:hover {
  background-color: #ff0000;
}
