.rowcontainer1 {
  display: grid;
  width: 100vw;
  height: 100%;
  grid-template-columns: 1fr;
}

.col01 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.imag1, .imag2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.col0101 {
  height: 60%;
  padding-left: 10px;
  width: 100%;
  font-family: "times new roman",times,serif;
}

.col0101 h2 {
  font-style: italic;
  font-size: 1.6rem;
  font-weight: 600;
}

.col0101 p {
  word-spacing: 1px;
  line-height: 1.5;
  width: 90%;
}

.col0102 {
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 768px) {
  .rowcontainer1 {
    grid-template-columns: 1fr 1fr;
  }

  .col01 {
    width: 50vw;
  }

  .col0101 {
    padding-left: 25px;
  }

  .col0101 h2 {
    font-size: 2.4rem;
  }

  .col0101 p {
    word-spacing: 2px;
    width: 90%;
  }
}